.field {
  margin: 1rem 0;
}
.field > *:first-child {
  margin-top: 0;
}
.field > *:last-child {
  margin-bottom: 0;
}
.label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.input {
  margin-bottom: 0.5rem;
}
.textInput {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgb(var(--theme-gray));
  border-radius: var(--radius-input);
}
